body, p, h1,h2,h3,h4,h5,h6 {font-family: 'Source Sans Pro', sans-serif !important}
.navbar,.ace-nav>li.blue>a{
    background-color: #A58CB3 !important;
}
.nav-pills>li.active>a{
    background-color: #A58CB3 !important;
}
.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: #D9A1A0 !important;
    color: black !important;
}
.no-skin .nav-list>li>a{
    background-color: #EAE7FA !important;
}
.no-skin .sidebar{
    border:transparent !important;
    background-color: #EAE7FA !important;
}
.table-header{
    background-color: #838BC2 !important;
}
.btn-tema1{
    background-color:#EAE7FA;
}